<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SampleApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moeapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MoEngage</key>
	<dict>
		<key>APP_GROUP_ID</key>
		<string>group.com.alphadevs.MoEngage.NotificationServices</string>
		<key>DATA_CENTER</key>
		<string>DATA_CENTER_01</string>
		<key>ENABLE_LOGS</key>
		<true/>
		<key>MoEngage_APP_ID</key>
		<string>DAO6UGZ73D9RTK8B5W96TPYN</string>
	</dict>
	<key>MoEngageAppDelegateProxyEnabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Would like to use location to monitor GeoFences</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Would like to use location to monitor GeoFences</string>
	<key>UIAppFonts</key>
	<array>
		<string>Zocial.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Foundation.ttf</string>
		<string>Fontisto.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<!-- MoEngage SDK Initialization Info -->
	<key>MoEngage</key>
	<dict>
		<key>IsSdkAutoInitialisationDisabled</key>
		<false/>
		<!-- true/false, default: false -->

		<key>WorkspaceId</key>
		<string>YOUR_APP_ID</string>
		<!-- Workspace Id, mandatory -->

		<key>DataCenter</key>
		<integer>1</integer>
		<!-- 1/2/3/4/5/6, default: 1 -->

		<key>IsTestEnvironment</key>
		<!-- <false/> -->
		<!-- true/false, customer seletected option -->
		<!-- or -->
		<string>$(SWIFT_ACTIVE_COMPILATION_CONDITIONS)|$(GCC_PREPROCESSOR_DEFINITIONS)</string>
		<!-- by default added if customer hasn't provided preference -->

		<!-- <key>IntegrationPartner</key>
		<string>segment</string> -->
		<!-- segment/mparticle, default: none -->

		<key>AppGroupName</key>
		<string>group.com.alphadevs.MoEngage.NotificationServices</string>
		<!-- App group name used for sharing SDK data, default: "" -->

		<key>KeychainGroupName</key>
		<string>BPWYRAF5X7.com.alphadevs.MoEngage.keychain</string>
		<!--
		Keychain group name used for storing storage encyption key,
		mandatory if IsStorageEncryptionEnabled set to true,
		default: ""
		-->

		<key>AnalyticsDisablePeriodicFlush</key>
		<false/>
		<!-- true/false, default: false -->

		<key>AnalyticsPeriodicFlushDuration</key>
		<integer>60</integer>
		<!-- integer in seconds, default: 60 -->

		<key>InAppDisplaySafeAreaInset</key>
		<real>0</real>
		<!-- decimal value representing safe area padding, default: 0 -->

		<key>InAppShouldProvideDeeplinkCallback</key>
		<false />
		<!-- true/false, default: false -->

		<key>IsStorageEncryptionEnabled</key>
		<false />
		<!-- true/false, default: false -->

		<key>IsNetworkEncryptionEnabled</key>
		<false />
		<!-- true/false, default: false -->

		<key>EncryptionEncodedTestKey</key>
		<string>eyJrZXkiOiJ4Q3dhdHRPNEllWnpTdFJuZTRQQXJaVEFRb25NUUFEditsQ2pHdjlrekJFPSIsInZlcnNpb24iOiJWMSJ9</string>
		<!-- dashboard auto populated string if IsNetworkEncryptionEnabled is true -->

		<key>EncryptionEncodedLiveKey</key>
		<string>eyJrZXkiOiJsaWlsWnVsb3JEOWNNTUtDSnJGQ1l6aVI2d2pEZ0R2LzY3aHhQOE5hK2RVPSIsInZlcnNpb24iOiJWMSJ9</string>
		<!-- dashboard auto populated string if IsNetworkEncryptionEnabled is true -->

		<key>IsJwtEnabled</key>
		<false/>
		<!-- true/false, default: false -->

		<key>IsUserRegistrationEnabled</key>
		<false/>
		<!--
		true/false,
		dashboard auto populated based on enrolment enabled or not,
		default: false
		-->

		<key>LogLevel</key>
		<integer>5</integer>
		<!-- 0/1/2/3/4/5, default: 3 -->

		<key>Environment</key>
		<string>live</string>
		<!-- 
		test/live, Citi specific,
		default: based on initializeDefaultLiveInstance/initializeDefaultTestInstance
		used
		-->
	</dict>
</dict>
</plist>
