name: Release Plugins

on:
  workflow_dispatch: # manual trigger
  # push: # on push to master branch
    # branches:
      # - master

jobs:
  release:
    runs-on: ubuntu-latest
    if: contains(fromJSON('["umangmoe", "arshiya-moengage"]'), github.actor)
    steps:
      - name: Checkout sdk automation scripts
        uses: actions/checkout@v3
        with:
          repository: moengage/sdk-automation-scripts
          path: sdk-automation-scripts
          token: ${{ secrets.SDK_BOT_ACCESS_TOKEN }}
      - name: Automation script setup
        uses: ./sdk-automation-scripts/actions/npm-repository-setup    
      - name: Checkout code
        uses: actions/checkout@v3
        with: 
          path: source
          fetch-depth: 0
          fetch-tags: true
          token: ${{ secrets.SDK_BOT_ACCESS_TOKEN }}
      - name: Script setup
        run: |
          chmod +x .github/scripts/release.sh
      - name: Publishing plugins
        run: |
          .github/scripts/release.sh
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}